extends ../temp/home
block content
	container.header
		row
			columns
				spacer(size-sm="10" size-lg="20")
				h1.text-center.header_title WAREHOUSE SALE 40%-70%OFF!
				p.text-center
					a.header_link(href='#') View this email in your browser
				spacer(size-sm="10" size-lg="14")
				img(src="img/title-bg.jpg" alt="Winter Sale")

	container.sale
		row
			columns
				h2.text-center.sale_title Going on now!
		row.sale_cont
			columns
				p.text-center New product added daily!
				h3.text-center.sale_sub-title Our sale is open daily 11am - 7pm
				p.text-center Masks & social distancing required



