/*BEGIN .body */
table.body {
  background-color: $bg;
}
/*END .body */

/*BEGIN ->  .header*/
.header {
  &__title {
    font-size: 14px;

    color: $sale;
  }

  &__link {
    font-size: 12px;
    letter-spacing: 0;

    color: $desc;
    text-decoration: underline;
  }
}
/*END -> .header*/

/*BEGIN .description */
.description {
  &__sub-title {
    color: gray;
    font-size: 14px;
    font-family: $reg_text;

    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    font: 16px $reg_text;
    text-align: center;
  }
}
/*END .description */

/*BEGIN .sale */
.sale {
  &__title {
    font-size: 30px;

    color: $sale;
  }

  &__item {
    display: inline-block;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;
  }

  &__btn {
    border: 2px solid $sale;
    padding: 10px 20px;
    font: 16px $reg;
    text-transform: uppercase;
  }

  &__cont {
    background-color: $sale;

    p {
      font-size: 18px;

      color: $white;
    }
  }

  &__sub-title {
    margin: 5px 0 7px;

    font-size: 30px;

    color: $white;
  }
}
/*END .sale */

/*BEGIN . ->  .footer*/
.footer {
}
/*END . -> .footer*/
