/*BEGIN .body */
table.body {
	background-color: $bg;
}
/*END .body */

/*BEGIN ->  .header*/
.header {
	
	&_title {
		font-size: 14px;
		
		color: $sale;
	}
	
	&_link {
		font-size: 12px;
		letter-spacing: 0;
		
		color: $desc;
		text-decoration: underline;
	}
	
}
/*END -> .header*/

/*BEGIN .sale */
.sale {
	
	&_title {
		font-size: 30px;
		
		color: $sale;
	}
	
	&_item {
		display: inline-block;
		margin: 0 auto;
		
		text-align: center;
		text-transform: uppercase;
	}
	
	&_cont {
		background-color: $sale;
		
		p {
			font-size: 18px;
			
			color: $white;
		}
	}
	
	&_sub-title {
		margin: 5px 0 7px;
		
		font-size: 30px;
		
		color: $white;
	}
	
	
}
/*END .sale */

/*BEGIN . ->  .footer*/
.footer {
	
}
/*END . -> .footer*/
